.header {
  background-color: #ccdad1;
  padding: 5px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.headFlex {
  display: flex;
  flex: 1;
}
.display {
  display: none;
}
.img {
  height: 100px;
  width: auto;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.list {
  font-family: "Roboto", sans-serif;
  color: #38302e;
  text-decoration: none;
  padding: 15px;
  height: 80%;
}
.lists {
  list-style: none;
  display: flex;
  padding: 5px;
}
@media only screen and (min-width: 768px) {
  .display {
    display: inline;
  }
  .img {
    height: 125px;
    width: auto;
    margin: 10px;
  }
  .logo {
    justify-content: center;
  }
  .nav {
    justify-content: flex-end;
  }
  .lists {
    list-style: none;
    display: flex;
    margin-right: 15px;
    padding: 20px;
  }
  .header {
    flex-direction: row;
  }
}
