<app-header></app-header>
<app-search-criteria (searchSubmit)="getRecipes()"></app-search-criteria>
<app-recipe-list
  [recipesRef]="recipeArray"
  (quickView)="setShowIndex($event)"
></app-recipe-list>
<section class="quick-view-container" *ngIf="showIndex >= 0">
  <div class="quick-view">
    <div class="heading">
      <h2 class="recipe-label">
        {{ recipeArray[showIndex].recipe.label }}
      </h2>
      <button class="close button" (click)="closeView()">close</button>
    </div>
    <div class="recipe-information">
      <div class="desktop">
        <img
          class="image"
          src="{{ recipeArray[showIndex].recipe.image }}"
          alt="Image of {{ recipeArray[showIndex].recipe.label }}"
        />
      </div>
      <div class="recipe-details">
        <p class="recipe-time">
          Total Time:
          {{ recipeArray[showIndex].recipe.totalTime }} minutes
        </p>
        <ul class="ingredients-list">
          <h4>Ingredients:</h4>
          <li
            *ngFor="let line of recipeArray[showIndex].recipe.ingredientLines"
          >
            {{ line }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
