.quick-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.quick-view {
  width: 80%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .unordered-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    margin: 20px;
  }
  .list-item {
    margin: 20px;
  }
}
