<section class="recipe-container">
  <div class="recipe-card">
    <!-- change to heart icon -->
    <button class="favorite" (click)="addToFavorites()">
      YUM!
    </button>
    <!-- change to magnifying class  -->
    <button class="favorite" (click)="toggle(showFlag)">
      Quick View
    </button>
    <h3 class="recipe-label">{{ record.label }}</h3>

    <a href="{{ record.url }}" target="_blank"
      ><img
        class="recipe-image"
        src="{{ record.image }}"
        alt="Image of {{ record.label }}"
    /></a>
    <p class="recipe-time">
      Total Time:
      {{ record.totalTime }} minutes
    </p>
    <p class="desktop">Diet: {{ record.dietLabels }}</p>
    <p class="desktop">Health: {{ record.healthLabels }}</p>
  </div>
</section>
<section *ngIf="showFlag === true">
  <div>
    <h3 class="recipe-label">{{ record.label }}</h3>
    <a href="{{ record.url }}" target="_blank"
      ><img
        class="recipe-image"
        src="{{ record.image }}"
        alt="Image of {{ record.label }}"
    /></a>
    <p class="recipe-time">
      Total Time:
      {{ record.totalTime }} minutes
    </p>
    <p class="desktop">Diet: {{ record.dietLabels }}</p>
    <p class="desktop">Health: {{ record.healthLabels }}</p>
    <ul>
      <h4>Ingredients:</h4>
      <li *ngFor="let line of record.ingredientLines" class="desktop">
        {{ line }}
      </li>
    </ul>
  </div>
</section>
