<section class="recipe-container">
  <div class="recipe-card">
    <div class="buttons-container">
      <button class="button quick" (click)="showDetails()">pageview</button>
      <h3 class="recipe-label">{{ record.label }}</h3>
      <button class="button favorite" (click)="addToFavorites()">
        favorite
      </button>
    </div>

    <a href="{{ record.url }}" target="_blank"
      ><img
        class="recipe-image"
        src="{{ record.image }}"
        alt="Image of {{ record.label }}"
    /></a>
    <p class="recipe-time">
      Total Time:
      {{ record.totalTime }} minutes
    </p>
    <p class="desktop">Diet: {{ record.dietLabels }}</p>
    <p class="desktop">Health: {{ record.healthLabels }}</p>
  </div>
</section>
