.search-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #ccdad1;
}
.search-form {
  display: flex;
  flex-direction: column;
  color: #38302e;
  width: 300px;
}
.text-input {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}
.search-input {
  width: 270px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
.diet-options {
  background-color: RGBA(204, 218, 209, 0.2);
  height: 100px;
}
.legend {
  background-color: #6f6866;
  color: white;
  padding: 5px;
  font-size: 16px;
}
.check1 {
  float: left;
}
.check2 {
  float: right;
}
.calories-p {
  color: #38302e;
}
.calories-inputs {
  display: flex;
  justify-content: space-evenly;
}
.min-cal,
.max-cal {
  display: flex;
  justify-content: space-evenly;
}
.input {
  border-radius: 5px;
  width: 120px;
  margin: 0 5px 0 5px;
  border: 1px solid gray;
}
.submit {
  background-color: #6f6866;
  margin-top: 5px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.error {
  color: red;
  font-size: 10px;
}
.red {
  color: red;
}

@media only screen and (min-width: 768px) {
  .search-form {
    width: 700px;
  }
  .check1 {
    margin-left: 150px;
  }
  .check2 {
    margin-right: 150px;
  }
  .calories-inputs {
    justify-content: left;
  }
}
