<form #searchForm="ngForm" (ngSubmit)="searchRecipes(searchForm)">
	<label for="searchTerm">Search<sup>*</sup>: </label>
	<input
		type="text"
		name="searchTerm"
		id="searchTerm"
		minlength="1"
		ngModel
		required
	/>
	<fieldset>
		<legend>Dietery Options</legend>
		<input
			type="radio"
			name="dietOption"
			value="None"
			ngModel
			[checked]
		/>None<br />
		<input
			type="radio"
			name="dietOption"
			value="Balanced"
			ngModel
		/>Balanced<br />
		<input
			type="radio"
			name="dietOption"
			value="High-Fiber"
			ngModel
		/>High-fiber<br />
		<input
			type="radio"
			name="dietOption"
			value="High-Protein"
			ngModel
		/>High-protein<br />
		<input
			type="radio"
			name="dietOption"
			value="Low-Carb"
			ngModel
		/>Low-carb<br />
		<input
			type="radio"
			name="dietOption"
			value="Low-Fat"
			ngModel
		/>Low-fat<br />
		<input
			type="radio"
			name="dietOption"
			value="Low-Sodium"
			ngModel
		/>Low-sodium<br />
	</fieldset>
	<label for="minCalories">Min (kcal):</label>
	<input type="number" name="minCalories" value="minCalories" ngModel />
	<label for="maxCalories">Max (kcal):</label>
	<input type="number" name="maxCalories" value="maxCalories" ngModel />
	<button>Submit</button>
</form>
